<div class="backgorund">
  <div class="container" >
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink='/'>ISLAM . M</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink='/'>home <span class="sr-only">(current)</span></a></li>
            <li><a routerLink='profile'>profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink='about-us'>About Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="login">First Time</a></li>
                <li><a routerLink="login">Have Acout</a></li>
                <li><a routerLink="projects">Vistor</a></li>
                <li role="separator" class="divider"></li>
                <li><a routerLink='/login'>Acount PRO</a></li>
              </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <p class="text-muted text-center h2 pragraghNav">Make your mark with a premium Bootstrap 4 UI Kit! </p>
    <p class="desginBy text-center"> DESIGNED AND CODED BY <a class="islamLink text-center" routerLink='profile'>ISLAM</a></p>
  </div>
</div>
<!--**********************************-->
<div class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <i class=" text-center fas fa-glass-cheers fa-5x" ></i>
        <p class="h3">Huge Number of Components</p>
        <p class="pp text-center">The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <i class="fas fa-glass-cheers fa-5x" ></i>
          <p class="h3">Huge Number of Components</p>
          <p class="pp text-center">The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <i class="fas fa-glass-cheers fa-5x" ></i>
            <p class="h3">Huge Number of Components</p>
            <p class="pp text-center">The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
        </div>
    </div>
    <div class="section-components">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="images-section">
                    <img src="../../../assets/images/section/1.png" class="img-responsive child-imaes-section1" alt="">
                    <img class="img-responsive father" alt="Cinque Terre" src="../../../assets/images/section/larg.png">
                    <img src="../../../assets/images/section/3.jpg" class="img-responsive child-imaes-section2" alt="">
                    <img src="../../../assets/images/section/3.png" class="img-responsive child-imaes-section3" alt="">
                    <img src="../../../assets/images/section/4.png" class="img-responsive child-imaes-section4" alt="">
                    <img src="../../../assets/images/section/5.png" class="img-responsive child-imaes-section5" alt="">



                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text">
                <p class="h3">Basic Components</p>
                <p class="h6 section-core">THE CORE ELEMENTS OF YOUR WEBSITE</p>
                <p class="section-text">We re-styled every Bootstrap 4 element to match the Paper Kit style. All the Bootstrap 4 components that you need in a development have been re-design with the new look. Besides the numerous basic elements,
                   we have also created additional classes.
                    All these items will help you take your project to the next level.</p>
              </div>
          </div>
    </div>
  </div>
</div>
<!--*******************************-->
<div class="Cards">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p class="h3">Basic Components</p>
            <p class="h6 section-core">THE CORE ELEMENTS OF YOUR WEBSITE</p>
            <p class="section-text">We re-styled every Bootstrap 4 element to match the Paper Kit style. All the Bootstrap 4 components that you need in a development have been re-design with the new look. Besides the numerous basic elements,
               we have also created additional classes.
                All these items will help you take your project to the next level.</p>
          </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="images-phone">
          <img src="../../../assets/images/areas/larg.png" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!--*******************************-->
<div class="content-areas">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
          <div class="images-phone">
            <img src="../../../assets/images/areas/iPad.png" width="400px" height="400px" class="img-responsive" alt="">
            <img src="../../../assets/images/areas/1.JPG" class="img1 img-responsive" alt="">
            <img src="../../../assets/images/areas/2.JPG" class="img0 img-responsive" alt="">


          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <p class="h3">Basic Components</p>
            <p class="h6 section-core">THE CORE ELEMENTS OF YOUR WEBSITE</p>
            <p class="section-text">We re-styled every Bootstrap 4 element to match the Paper Kit style. All the Bootstrap 4 components that you need in a development have been re-design with the new look. Besides the numerous basic elements,
               we have also created additional classes.
                All these items will help you take your project to the next level.</p>
          </div>
      </div>
    </div>
  </div>
<!--***************-->
<div class="pages ">
  <div class="container text-center">
    <p class="h3">Sections you will love</p>
    <p class="pp">Build pages in no time using pre-made sections! We have created multiple sections for you to put together
       and customise into pixel perfect example pages. From headers to footers,
       you will be able to choose the best combination for your project.</p>
       <button routerLink='/projects' class="btn btn-danger btn-lg">View All Section</button>
  </div>
  <div class="row" >
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/1.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/2.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/3.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/4.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/1.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/2.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/3.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/4.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/16.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/5.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/6.jpg"></div>
      <div class="col-xs-12 col-sm-4 col-md-3"><img class="img-responsive" src="../../../assets/images/pages/7.jpg"></div>

  </div>
</div>
<!--*******************************-->
<div class="responsive-layout">
    <div class="contaainer">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="images-phone">
            <img src="../../../assets/images/responsive.png" width="400px" height="400px" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

            <p class="h3 pp text-left"><i class="fab fa-html5 fa-2x"></i> Fully Responsive Layout</p>
            <p class=" section-core ">The kit is designed to be mobile first. Every components looks great on any screen size.</p>

            <p class="h3 pp text-left"> <i class="fas fa-person-booth fa-2x"></i> ANGULAR 7</p>
            <p class="h6 section-core ">The kit is designed to be mobile first. Every components looks great on any screen size.</p>
          </div>
      </div>
    </div>
  </div>
<!--*********************-->
<div class="pages ">
    <div class="container text-center">
        <button class="btttn btn btn-danger btn-lg" routerLink="profile">Profile</button>
      <p class="h3">Sections you will love</p>
      <p class="pp">Build pages in no time using pre-made sections! We have created multiple sections for you to put together
         and customise into pixel perfect example pages. From headers to footers,
         you will be able to choose the best combination for your project.</p>

         <p class="h3">THANK YOU FOUR VIEW</p>
         <p class="desginBy text-center"> DESIGNED AND CODED BY <a class="islamLink text-center" routerLink='/profile'>ISLAM</a></p>
    </div>
