<div class="backgorund">
    <div class="container" >
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink='/'>ISLAM . M</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a routerLink='/'>home <span class="sr-only">(current)</span></a></li>
              <li><a  routerLink='/profile'>profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a   routerLink='/about-us'>About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/login">First Time</a></li>
                  <li><a routerLink="/login">Have Acout</a></li>
                  <li><a routerLink="/projects">Vistor</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink='/login'>Acount PRO</a></li>
                </ul>
              </li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
<div class='about'>
  <div class='container'>
    <p class='h3 pp0'>WE BUILD GREAT PRODUCTS.</p>
    <p class='pp'>Collaboratively administrate empowered markets via plug-and-play networks.
      Dynamically procrastinate B2C users after installed base benefits.
       Dramatically visualize customer directed convergence without revolutionary ROI.</p>
    <p class='pp'>
        Efficiently unleash cross-media information without cross-media value.
         Quickly maximize timely deliverables for real-time schemas.
         Dramatically maintain clicks-and-mortar solutions without functional solutions.
    </p>
    <div class='about1'>
        <div class='container'>
          <p class='h3 pp0'>WE   WHAT WE DO.</p>
          <p class='pp'>Completely synergize resource taxing relationships via premier niche markets.
            Professionally cultivate one-to-one customer service with robust ideas.
             Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

    <!--******** Creators-->
    <div class="row">
      <p class='h1 text-center pp3' >Creators</p>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 team-img">
          <img src="../../../assets/images/prfile/islampic.jpg" class="img-responsive islam-pic" alt="">
          <p class='pp text-center'>
              Efficiently unleash cross-media information without cross-media value.
               Quickly maximize timely deliverables for real-time schemas.
               Dramatically maintain clicks-and-mortar solutions without functional solutions.
          </p>
          <div class='links' >
            <a href='#'><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href='#'><i class="fab fa-linkedin fa-3x"></i></a>
            <a href='#'><i class="fab fa-whatsapp-square fa-3x"></i></a>
          </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 team-img">
          <img src="../../../assets/images/prfile/islampic.jpg" class="img-responsive islam-pic" alt="">
          <p class='pp text-center'>
              Efficiently unleash cross-media information without cross-media value.
               Quickly maximize timely deliverables for real-time schemas.
               Dramatically maintain clicks-and-mortar solutions without functional solutions.
          </p>
          <div class='links' >
            <a href='#'><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href='#'><i class="fab fa-linkedin fa-3x"></i></a>
            <a href='#'><i class="fab fa-whatsapp-square fa-3x"></i></a>
          </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 team-img">
          <img src="../../../assets/images/prfile/islampic.jpg" class="img-responsive islam-pic" alt="">
          <p class='pp text-center'>
              Efficiently unleash cross-media information without cross-media value.
               Quickly maximize timely deliverables for real-time schemas.
               Dramatically maintain clicks-and-mortar solutions without functional solutions.
          </p>
          <div class='links' >
            <a href='#'><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href='#'><i class="fab fa-linkedin fa-3x"></i></a>
            <a href='#'><i class="fab fa-whatsapp-square fa-3x"></i></a>
          </div>
      </div>
    </div>
    <!--******** information-->

        <p class='h1 text-left pp3' >Need more information?</p>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  text-center team-info1">
            <p class="">BEST CARDS</p>
            <a routerLink=''>Blue Card</a>
            <div class='pp-infof'><p class='pp-info text-center'>
                What all of these have in common is that they're pulling information
                 out of the app or the service and making it relevant to the moment.
            </p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  text-center team-info2">
            <p class="">BEST CARDS</p>
            <a routerLink=''>Blue Card</a>
            <div class='pp-infof'><p class='pp-info text-center'>
                What all of these have in common is that they're pulling information
                 out of the app or the service and making it relevant to the moment.
            </p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  text-center team-info3">
            <p class="">BEST CARDS</p>
            <a routerLink=''>Blue Card</a>
            <div class='pp-infof'><p class='pp-info text-center'>
                What all of these have in common is that they're pulling information
                 out of the app or the service and making it relevant to the moment.
            </p></div>
        </div>
        </div>

      </div>
  </div>
</div>
